@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .auth-form {
    @apply flex w-full flex-col gap-6;
  }
}


.px {
  padding-inline: 5rem;
}

.header-bg {
  background-image: url('./assets/images/bgImg.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-clip: content-box;
  object-fit: cover;
}